<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-feature android:name="android.hardware.fingerprint" android:required="false" />

    <application
        android:name=".MyApplication"
        android:windowSoftInputMode="adjustResize"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/pis_azil_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/pis_azil_logo"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.PIS_Azil"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">
        <activity
            android:name=".activities.AdoptedAnimalDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Detailed2Activity"
            android:exported="false" />
        <activity
            android:name=".activities.NewUserActivity"
            android:exported="true"
            android:theme="@style/Theme.PIS_Azil.NoActionBar" />
        <activity
            android:name=".activities.UpdateUserActivity"
            android:exported="true"
            android:theme="@style/Theme.PIS_Azil.NoActionBar" />
        <activity
            android:name=".activities.AnimalDetail2Activity"
            android:exported="false" />
        <!-- <activity
            android:name=".activities.AnimalDetailActivity"
            android:exported="false" />
            !
        -->
        <receiver android:name=".AlarmReceiver" />
        <activity
            android:name=".activities.DetailedActivity"
            android:exported="false"
            android:theme="@style/Theme.PIS_Azil.NoActionBar" />
        <activity
            android:name=".activities.ViewAllActivity"
            android:exported="false"
            android:theme="@style/Theme.PIS_Azil.NoActionBar" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.PIS_Azil" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.PIS_Azil" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.PIS_Azil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PIS_Azil.NoActionBar" />

        <service
            android:name=".network.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>